Repository self-denial-cy/self-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix --allow-empty-input

.lintstagedrc.json:

{
  "*.js": [
    "eslint --fix"
  ],
  "*.vue": [
    "stylelint --fix --allow-empty-input",
    "eslint --fix"
  ],
  "*.less": "stylelint --fix --allow-empty-input",
  "*.scss": "stylelint --fix --allow-empty-input",
  "*.css": "stylelint --fix --allow-empty-input"
}

feat: 类型声明文件编写
  packages/dropdown/index.d.ts
  types/components.d.ts
  types/dropdown.d.ts
Due: none

feat: 编写类型声明文件
  packages/dropdown-item/index.d.ts
  types/components.d.ts
  types/dropdown-item.d.ts
Due: none

feat: 类型声明文件编写
  packages/icon/icon.vue
  packages/icon/index.d.ts
  types/components.d.ts
  types/icon.d.ts
Due: eslint --fix, stylelint --fix --allow-empty-input

feat: 类型声明文件编写
  packages/input/index.d.ts
  packages/input/input.vue
  types/components.d.ts
  types/input.d.ts
Due: eslint --fix, stylelint --fix --allow-empty-input

fix: 修复 button-group 多余类型枚举值
  packages/button-group/button-group.vue
  packages/button-group/index.d.ts
  types/button-group.d.ts
Due: eslint --fix, stylelint --fix --allow-empty-input

fix: 修复 button 多余类型枚举值
  packages/button/button.vue
  packages/button/index.d.ts
  types/button.d.ts
Due: eslint --fix, stylelint --fix --allow-empty-input

fix: 修复 dropdown 多余枚举值
  packages/dropdown/dropdown.vue
Due: eslint --fix, stylelint --fix --allow-empty-input

fix: 修复 input 多余枚举值
  packages/input/input.vue
Due: eslint --fix, stylelint --fix --allow-empty-input

feat: 类型声明文件编写
  packages/mixins/index.d.ts
Due: none

feat: 类型声明文件编写
  packages/nav/index.d.ts
  packages/nav/nav.vue
  src/views/input/index.vue
  src/views/nav/index.vue
  types/components.d.ts
  types/nav.d.ts
Due: eslint --fix, stylelint --fix --allow-empty-input

feat: 类型声明文件编写
  packages/nav-item/index.d.ts
  types/nav-item.d.ts
Due: none

feat: 类型声明文件编写
  packages/nav-item/index.d.ts
  packages/nav-item/nav-item.vue
  packages/pagination/index.d.ts
  types/components.d.ts
  types/nav-item.d.ts
  types/pagination.d.ts
Due: eslint --fix, stylelint --fix --allow-empty-input

feat: 类型声明文件编写
  packages/pagination/index.d.ts
  packages/pagination/pagination.vue
  types/components.d.ts
  types/pagination.d.ts
Due: eslint --fix, stylelint --fix --allow-empty-input

feat: 类型声明文件编写
  packages/row/index.d.ts
  types/components.d.ts
  types/row.d.ts
Due: none

feat: 类型声明文件编写
  packages/select/index.d.ts
  types/select.d.ts
Due: none

feat: 类型声明文件编写
  packages/select/select.vue
  types/select.d.ts
Due: eslint --fix, stylelint --fix --allow-empty-input

feat: 类型声明文件编写
  types/select.d.ts
Due: none

feat: 类型声明文件编写
  packages/select/index.d.ts
  packages/select/select.vue
  types/components.d.ts
  types/select.d.ts
Due: eslint --fix, stylelint --fix --allow-empty-input

feat: 类型声明文件编写
  packages/input/index.d.ts
  packages/input/input.vue
  src/views/input/index.vue
  src/views/nav/index.vue
  types/input.d.ts
Due: eslint --fix, stylelint --fix --allow-empty-input

fix: 修复组件默认值错误
  packages/dropdown-item/dropdown-item.vue
  packages/dropdown/dropdown.vue
  packages/select/select.vue
Due: eslint --fix, stylelint --fix --allow-empty-input

feat: 类型声明文件编写
  packages/table/index.d.ts
  types/table.d.ts
Due: none

feat: 类型声明文件编写
  packages/table/index.d.ts
  packages/table/table.vue
  types/components.d.ts
  types/table.d.ts
Due: eslint --fix, stylelint --fix --allow-empty-input

feat: 类型声明文件编写
  packages/table-column/index.d.ts
  types/table-column.d.ts
Due: none

feat: 类型声明文件编写
  packages/table-column/index.d.ts
  packages/table-column/table-column.js
  types/components.d.ts
  types/table-column.d.ts
Due: eslint --fix

feat: 类型声明文件编写
  packages/button-group/index.d.ts
  packages/button/index.d.ts
  packages/col/index.d.ts
  packages/dropdown-item/index.d.ts
  packages/dropdown/index.d.ts
  packages/nav-item/index.d.ts
  packages/nav/index.d.ts
  packages/table/index.d.ts
  packages/utils/index.d.ts
  types/button-group.d.ts
  types/button.d.ts
  types/col.d.ts
  types/dropdown-item.d.ts
  types/dropdown.d.ts
  types/nav-item.d.ts
  types/nav.d.ts
  types/table.d.ts
Due: none

feat: 类型声明文件编写
  packages/utils/index.d.ts
Due: none

feat: 类型声明文件编写
  packages/utils/index.d.ts
  packages/utils/mask.d.ts
  packages/utils/queue.d.ts
  packages/utils/screen.d.ts
  packages/utils/scroll.d.ts
Due: none

docs: todo
  TODO.md
Due: none

chore: 发布忽略文件列表修改
  .npmignore
Due: none

chore: 包暴露内容修改
  package.json
Due: none

chore: changeset
  .changeset/sweet-suns-enjoy.md
Due: none

chore: upgrade dependencies
  package.json
  packages/button-group/package.json
  packages/button/package.json
  packages/col/package.json
  packages/directives/package.json
  packages/dropdown-item/package.json
  packages/dropdown/package.json
  packages/icon/package.json
  packages/input/package.json
  packages/mixins/package.json
  packages/nav-item/package.json
  packages/nav/package.json
  packages/pagination/package.json
  packages/row/package.json
  packages/select/package.json
  packages/table-column/package.json
  packages/table/package.json
  pnpm-lock.yaml
Due: none

chore: changeset
  .changeset/tough-adults-reply.md
Due: none

chore: upgrade dependencies
  pnpm-lock.yaml
Due: none

1.0.8
  CHANGELOG.md
  lib/self.js
  lib/self.js.map
  package.json
Due: eslint --fix

chore: upgrade dependencies
  package.json
Due: none

1.0.9
  CHANGELOG.md
  lib/self.js
  package.json
Due: eslint --fix
