Repository self-denial-cy/self-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix --allow-empty-input

.lintstagedrc.json:

{
  "*.js": [
    "eslint --fix"
  ],
  "*.vue": [
    "stylelint --fix --allow-empty-input",
    "eslint --fix"
  ],
  "*.less": "stylelint --fix --allow-empty-input",
  "*.scss": "stylelint --fix --allow-empty-input",
  "*.css": "stylelint --fix --allow-empty-input"
}

feat: 表格示例页面开发完成
  packages/styles/index.less
  src/styles/index.less
  src/views/table/index.vue
Due: eslint --fix, stylelint --fix --allow-empty-input

feat: select 组件开发
  packages/pagination/index.js
  packages/pagination/package.json
  packages/pagination/pagination.vue
  packages/select/index.js
  packages/select/package.json
  packages/select/select.vue
Due: eslint --fix, stylelint --fix --allow-empty-input

feat: select 组件开发完成
  packages/select/select.vue
  packages/styles/index.less
  packages/styles/select.less
  src/router/routes.js
  src/views/layout/index.vue
  src/views/select/index.vue
Due: eslint --fix, stylelint --fix --allow-empty-input

feat: select 组件示例页面开发完成
  packages/select/select.vue
  packages/styles/select.less
  src/views/select/index.vue
Due: eslint --fix, stylelint --fix --allow-empty-input

feat: pagination 组件开发
  packages/pagination/pagination.vue
Due: eslint --fix, stylelint --fix --allow-empty-input

feat: pagination 组件开发
  .eslintrc.js
  packages/pagination/pagination.vue
  packages/styles/index.less
  packages/styles/pagination.less
  src/router/routes.js
  src/views/layout/index.vue
  src/views/pagination/index.vue
Due: eslint --fix, stylelint --fix --allow-empty-input

feat: pagination 组件开发
  packages/pagination/pagination.vue
  src/views/pagination/index.vue
Due: eslint --fix, stylelint --fix --allow-empty-input

feat: pagination 组件开发完成
  packages/pagination/pagination.vue
  packages/styles/pagination.less
  src/router/routes.js
  src/views/dropdown/index.vue
  src/views/layout/index.vue
  src/views/pagination/index.vue
  src/views/select/index.vue
Due: eslint --fix, stylelint --fix --allow-empty-input

feat: dropdown 组件示例页面开发完成
  packages/dropdown-item/dropdown-item.vue
  packages/dropdown/dropdown.vue
  packages/styles/button.less
  src/router/routes.js
  src/views/dropdown/index.vue
  src/views/layout/index.vue
  src/views/nav/index.vue
Due: eslint --fix, stylelint --fix --allow-empty-input

feat: input 组件开发
  packages/input/index.js
  packages/input/input.vue
  packages/input/package.json
  packages/nav/nav.vue
  packages/styles/index.less
  packages/styles/input.less
  src/router/routes.js
  src/views/input/index.vue
  src/views/layout/index.vue
  src/views/nav/index.vue
Due: eslint --fix, stylelint --fix --allow-empty-input

feat: input 组件开发
  packages/dropdown/dropdown.vue
  packages/input/input.vue
  packages/select/select.vue
  src/views/input/index.vue
Due: eslint --fix, stylelint --fix --allow-empty-input

feat: input 组件开发
  packages/input/input.vue
  packages/styles/input.less
  src/views/input/index.vue
Due: eslint --fix, stylelint --fix --allow-empty-input

feat: input 组件示例页面开发完成
  packages/dropdown/dropdown.vue
  packages/input/input.vue
  packages/styles/common/var.less
  packages/styles/input.less
  src/views/input/index.vue
  src/views/nav/index.vue
  src/views/select/index.vue
Due: eslint --fix, stylelint --fix --allow-empty-input

feat: nav 组件示例页面开发完成
  packages/styles/nav.less
  src/views/nav/index.vue
Due: eslint --fix, stylelint --fix --allow-empty-input

feat: transfer 指令开发完成
  packages/directives/index.js
  packages/directives/transfer.js
  packages/dropdown/dropdown.vue
  packages/styles/dropdown.less
Due: eslint --fix, stylelint --fix --allow-empty-input

feat: popper 定位
  package.json
  packages/dropdown/dropdown.vue
  packages/styles/dropdown.less
  src/views/dropdown/index.vue
  yarn.lock
Due: eslint --fix, stylelint --fix --allow-empty-input

feat: popper 定位开发完成
  packages/dropdown-item/dropdown-item.vue
  packages/dropdown/dropdown.vue
  packages/nav/nav.vue
  packages/styles/common/animation.less
  packages/styles/common/transition.less
  packages/styles/common/var.less
  packages/styles/dropdown.less
  packages/styles/nav.less
  src/views/layout/index.vue
  src/views/nav/index.vue
  src/views/pagination/index.vue
Due: eslint --fix, stylelint --fix --allow-empty-input

fix: 修复 clickout 指令错误
  packages/dropdown/dropdown.vue
  packages/styles/dropdown.less
Due: eslint --fix, stylelint --fix --allow-empty-input

feat: clickout 指令修改
  packages/directives/clickout.js
  packages/dropdown/dropdown.vue
Due: eslint --fix, stylelint --fix --allow-empty-input

feat: dropdown 组件优化
  packages/dropdown-item/dropdown-item.vue
  packages/dropdown/dropdown.vue
  src/router/index.js
Due: eslint --fix, stylelint --fix --allow-empty-input

feat: select popper 引入
  packages/dropdown/dropdown.vue
  packages/select/select.vue
  packages/styles/common/mixin.less
  packages/styles/dropdown.less
  packages/styles/index.less
  packages/styles/select.less
  src/views/select/index.vue
Due: eslint --fix, stylelint --fix --allow-empty-input

feat: mask 遮罩层禁止页面滚动
  packages/dropdown/dropdown.vue
  packages/nav/nav.vue
  packages/styles/mask.less
  packages/utils/index.js
  packages/utils/mask.js
  packages/utils/screen.js
  src/utils/index.js
  src/views/pagination/index.vue
Due: eslint --fix, stylelint --fix --allow-empty-input

feat: dropdown 移动端样式优化
  packages/dropdown/dropdown.vue
  packages/styles/dropdown.less
  packages/utils/index.js
  packages/utils/queue.js
Due: eslint --fix, stylelint --fix --allow-empty-input

feat: nav 组件添加 fixed 功能
  packages/nav/nav.vue
  packages/styles/button.less
  packages/styles/common/var.less
  packages/styles/input.less
  packages/styles/nav.less
  src/App.vue
  src/styles/index.less
  src/views/dropdown/index.vue
  src/views/layout/index.vue
  src/views/nav/index.vue
  src/views/pagination/index.vue
  src/views/select/index.vue
  src/views/table/index.vue
Due: eslint --fix, stylelint --fix --allow-empty-input

feat: 动态 z-index
  packages/dropdown/dropdown.vue
  packages/nav/nav.vue
  packages/select/select.vue
  packages/styles/common/var.less
  packages/styles/dropdown.less
  packages/styles/mask.less
  packages/styles/select.less
  packages/utils/mask.js
  src/views/nav/index.vue
Due: eslint --fix, stylelint --fix --allow-empty-input

feat: 动态 z-index 优化
  packages/directives/transfer.js
  packages/dropdown/dropdown.vue
  packages/nav/nav.vue
  packages/select/select.vue
  src/views/dropdown/index.vue
  src/views/select/index.vue
Due: eslint --fix, stylelint --fix --allow-empty-input

feat: 配置样式文件构建流程
  .gitignore
  build/build-style.js
  package.json
  packages/styles/icon.less
  yarn.lock
Due: eslint --fix, stylelint --fix --allow-empty-input

feat: 配置整体构建流程
  build/build-entry.js
  lerna.json
  package.json
Due: eslint --fix

feat: 配置整体构建流程
  build/build-entry.js
  build/build-style.js
  build/utils.js
  build/webpack.base.js
  build/webpack.config.js
  package.json
  yarn.lock
Due: eslint --fix

feat: 修复依赖
  package.json
Due: none

feat: 配置整体构建流程完成
  TODO.md
  build/build-entry.js
  build/webpack.base.js
  build/webpack.config.js
  package.json
  yarn.lock
Due: eslint --fix

chore: 配置版本管理和发布流程
  .changeset/README.md
  .changeset/config.json
  .changeset/empty-melons-rush.md
  package.json
  pnpm-lock.yaml
Due: none

chore: 配置版本管理和发布流程
  .changeset/empty-melons-rush.md
  packages/button-group/CHANGELOG.md
  packages/button-group/package.json
  packages/button/CHANGELOG.md
  packages/button/package.json
  packages/col/CHANGELOG.md
  packages/col/package.json
  packages/directives/CHANGELOG.md
  packages/directives/package.json
  packages/dropdown-item/CHANGELOG.md
  packages/dropdown-item/package.json
  packages/dropdown/CHANGELOG.md
  packages/dropdown/package.json
  packages/icon/CHANGELOG.md
  packages/icon/package.json
  packages/input/CHANGELOG.md
  packages/input/package.json
  packages/mixins/CHANGELOG.md
  packages/mixins/package.json
  packages/nav-item/CHANGELOG.md
  packages/nav-item/package.json
  packages/nav/CHANGELOG.md
  packages/nav/package.json
  packages/pagination/CHANGELOG.md
  packages/pagination/package.json
  packages/row/CHANGELOG.md
  packages/row/package.json
  packages/select/CHANGELOG.md
  packages/select/package.json
  packages/styles/CHANGELOG.md
  packages/styles/package.json
  packages/table-column/CHANGELOG.md
  packages/table-column/package.json
  packages/table/CHANGELOG.md
  packages/table/package.json
  packages/utils/CHANGELOG.md
  packages/utils/package.json
Due: none

chore: 配置版本管理和发布流程
  .changeset/large-poets-repeat.md
Due: none

chore: 配置版本管理和发布流程
  .changeset/large-poets-repeat.md
  packages/button-group/CHANGELOG.md
  packages/button-group/package.json
  packages/button/CHANGELOG.md
  packages/button/package.json
  packages/col/CHANGELOG.md
  packages/col/package.json
  packages/directives/CHANGELOG.md
  packages/directives/package.json
  packages/dropdown-item/CHANGELOG.md
  packages/dropdown-item/package.json
  packages/dropdown/CHANGELOG.md
  packages/dropdown/package.json
  packages/icon/CHANGELOG.md
  packages/icon/package.json
  packages/input/CHANGELOG.md
  packages/input/package.json
  packages/mixins/CHANGELOG.md
  packages/mixins/package.json
  packages/nav-item/CHANGELOG.md
  packages/nav-item/package.json
  packages/nav/CHANGELOG.md
  packages/nav/package.json
  packages/pagination/CHANGELOG.md
  packages/pagination/package.json
  packages/row/CHANGELOG.md
  packages/row/package.json
  packages/select/CHANGELOG.md
  packages/select/package.json
  packages/styles/CHANGELOG.md
  packages/styles/package.json
  packages/table-column/CHANGELOG.md
  packages/table-column/package.json
  packages/table/CHANGELOG.md
  packages/table/package.json
  packages/utils/CHANGELOG.md
  packages/utils/package.json
Due: none

chore: 配置版本管理和发布流程
  lib/self.js
  package.json
Due: eslint --fix

feat: button 组件添加说明文档
  packages/button/README.md
Due: none
